.genres__title {
    text-align: center;
    margin-bottom: 2em;
}

.genres__container {
    
}

.genres__list {
    margin: 2em 0;
    text-align: center;
}

.genres__item {
    display: inline-block;
    list-style-type: none;
    border: 1px solid var(--color-black);
    border-radius: 1em;
    text-transform: uppercase;
    padding: 0.25em 0.75em;
    margin: 0.5em;
    font-weight: 700;
    cursor: pointer;
}

.genres__item:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#genres__item--active {
    background-color: var(--color-yellow);
    color: var(--color-black);
}

@media screen and (max-width: 1024px) {
    .genres__list {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
    }
    .genres__list::-webkit-scrollbar {
        display: none;
    }
  }
  
