.heroContainer {
    height: 80vh;
    position: relative;
}

.hero {
    height: inherit;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    position: absolute;
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

.hero__title {
    font-size: 3em;
    text-align: center;
}

.hero__description {
    font-size: 1em;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hero__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__button > .material-icons-outlined {
    font-size: 2em;
}

.hero__slidebutton {
    background: transparent;
    color: var(--color-yellow);
    border: none;
    outline: none;
    position: absolute;
    z-index: 100;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.hero__slidebutton--right {
    right: 1rem;
}
.hero__slidebutton--left {
    left: 1rem;
}

.hero--active {
    opacity: 1;
    z-index: 1;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

.hero__slidebutton > .material-icons-outlined {
    font-size: 5em;
}
